@model Proyecto_Fase2.Models.PurcharseDetails

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Eliminar</h2>

<h3>Seguro que desea eliminar este registro?</h3>
<div>
    <h4>Detalles de Compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductPurchase.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPurchase.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuplyProduct.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuplyProduct.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityBuyed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityBuyed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> 
            @Html.ActionLink("Regresar", "Index", new { @class = "btn btn-primary" })
        </div>
    }
</div>
