@model Proyecto_Fase2.Models.DPBR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DPBR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Permission.Module)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Permission.Module)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
