@model Proyecto_Fase2.Models.Permission

@{
    ViewBag.Title = "Delete";

    Layout = "~/Views/Shared/_Layout2.cshtml";
    // new { @class = "btn btn-primary" }
}

<h2>Eliminar</h2>

<h3>Seguro que desea eliminar este registro?</h3>
<div>
    <h4>Permisos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Module)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index", new { @class = "btn btn-primary" })
        </div>
    }
</div>
