@model Proyecto_Fase2.Models.SuplyInvoice

@{
    ViewBag.Title = "Details";
        Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SuplyInvoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccoutingBook.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccoutingBook.Name)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.Date_Suply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Suply)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
           @if (Model.status == "0") { <p>Cerrado</p> }
           @if (Model.status=="1") {<p>Abierto</p> }
        </dd>

    </dl>
</div>


<table class="table">
    <tr>
        <th>
           Nombre producto
        </th>
        <th>
            Cantidad
        </th>
        <th>
           Costo unitario
        </th>
        <th>
            Total
        </th>
    </tr>

    @foreach (Proyecto_Fase2.Models.SuplyProduct item in ViewBag.Productos)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
           
        </tr>
    }

</table>










    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
