@model Proyecto_Fase2.Models.ProductPurchase

@{
    ViewBag.Title = "Delete";

    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Eliminar</h2>

<h3>Seguro que desea borrar este registro?</h3>
<div>
    <h4>Compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LatePayment.TypeIncrement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatePayment.TypeIncrement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.Credentials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Credentials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index", new { @class = "btn btn-primary"})
        </div>
    }
</div>
