@model Proyecto_Fase2.Models.ProductPurchase

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Compras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LatePayment.TypeIncrement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatePayment.TypeIncrement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.Credentials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Credentials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) 
    @Html.ActionLink("Regresar", "Index", new { @class = "btn btn-primary" })
</p>
