@model Proyecto_Fase2.Models.LatePayment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LatePayment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Increment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Increment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeIncrement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeIncrement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaysForIncrement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysForIncrement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LateDayPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LateDayPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
