@model Proyecto_Fase2.Models.Employee

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}

<h2>Eliminar</h2>

<h3>Seguro que quieres eliminar este registro?</h3>
<div>
    <h4>Empleados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Area.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.Credentials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Credentials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chief_Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chief_Area)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index", new { @class = "btn btn-primary" })
        </div>
    }
</div>
